html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(163, 227, 238);
  color: rgb(51, 29, 77);
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container h1 {
  display: inline;
  margin: 0;
  padding: 0;
  /* color: black; */
}
